.footer{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 4px;
}
.footerIcon{
    display: flex;
    margin: 40px 0;
    gap: 20px;
}
.footerIcon img{
    width: 30px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none ;
}
.copyrighttext{
    color: gray;
    font-size: 14px;
}

@media (max-width:800px){
    .footer ul{
        grid-template-columns: auto auto;
        gap: 10px;
        font-size: 14px;
    }
    .footerIcon img{
        width: 25px;
    }
}